body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: linear-gradient(90deg, rgba(246,238,224,1) 0%, rgba(206,225,216,1) 50%, rgba(138,199,222,1) 100%);
	padding: 20px 0;
	border-bottom: 5px solid #fda664;
}
h1{
	display: inline-block;
}
.caixa {

	position: relative;
	width: 100%;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 50px;
	right: 50px;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #83563f;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
}

nav a:hover {
	color: #fda664;
}
.carcara {
	width:60%;
	padding: 15px 0;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.carcara:hover {
	transform: scale(1.2);
}
main{
	background: linear-gradient(90deg, rgba(246,238,224,1) 0%, rgba(206,225,216,1) 50%, rgba(138,199,222,1) 100%);
}
.titulo-principal{
	text-align: left;
	font-weight: bold;
	font-size: 4em;
	margin: 0 0 0.5em;
	color: #83563f;
}
h3{
	text-align: left;
	font-size: 3em;
	margin: 0 0 0.5em;
	color: #f04842;
}

.principal {
	padding: 3em 3em;
}

.principal p {
	font-size: 2em;
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}
.education,.work,.skills,.certificates{
	width: 100%;
	border-top: 5px solid #fda664;
	;
}
h2{
	text-align: center;
	font-size: 2.5em;
	margin: 1em;
	font-weight: bold;
	color: #83563f;
}
h4{
	text-align: center;
	font-size: 2em;
	margin: 1em;
	font-weight: bold;
	color: #f04842;
}
h5{
	text-align: center;
	font-size: 1.5em;
	margin: 1em;
}
h6{
	text-align: center;
	font-size: 1em;
	padding: 1em;
	border-bottom: 1px solid #fda664;
}
.skills p{

	display: block;
	text-align: center;
	font-size: 1em;
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	border-radius: 40px 10px;
	background: ;
}
footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}
.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
.carcara2{
	width: 10%;
}
